<div class="center">
	<h1>Sometimes you wonder, what is the cutest picture on the internet?</h1>
</div>

<div class="center">
	And so you build a way to find out. By piting the cutest pictures on the internet against each other, one will rise triumphant from the battle. 
</div>

<div class="center">
Made by <%= link_to("Joshua Dance.", "https://twitter.com/joshdance") %>
</div>