<div class="center">
	<h1>Sometimes you wonder, what is the cutest picture on the internet?</h1>
</div>

<div class="center">
	And so you build a way to find out. By piting the cutest pictures on the internet against each other, one will rise triumphant from the battle. 
</div>

<div class="center">
	<h4>Who are We</h4>
	Who is me actually. One guy. My name is <%= link_to("Joshua Dance", "https://twitter.com/joshdance") %>. 

	<h4>Backstory</h4>
	I created this site because I have a sister, and she really likes bunnies. I would email her pictures of cute bunnies every once in a while and it was hard to find them sometimes. Then I thought, what if I made a site where people could submit cute pictures? I could just send the cutest ones to her. Then I thought, how would I know which ones were cutest? 

	CuteFluffyBattle then leapt from my mind, in all it’s cute glory and I decided to to make it a reality.
</div>

<div class="center">
	</br>
		<h4 class="center">Copyright issues</h4>
		If you feel like a picture on the site is infringing your  copyright, please <%= mail_to "hello@cutefluffybattle.com", "email us",
	         subject: "Potential copyright problem" %> with your evidence and we will be happy to work with you to fix the problem. 
	 </br>
</div>