</br>
<div class="row">
	<div class="col-xs-12">
		<div class="takedown center">
			&copy; <%= copyright_notice_year_range(2014) %> <%= link_to "Joshua Dance.", "http://www.joshdance.me/" %>  All Rights Reserved.
		</div> <!-- end copyright class -->
	</div> <!-- end col 12 class -->
</div> <!-- end class row -->
